@using DataBVTA.Models.ViewModels
@model ThongTinBenhNhanVM
@{
    ViewData["Title"] = "PhieuKhamBenh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .btn {
        display: unset;
    }

    .nav-sidebar .nav-item > .nav-link {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .nav-sidebar .nav-item:hover {
        background-color: transparent;
    }

    .card {
        border-radius: unset;
    }

    .col-120 {
        width: 120px;
        padding-left: 7.5px;
        padding-right: 7.5px;
        vertical-align: middle;
    }

    .col-150 {
        width: 150px;
        padding-left: 7.5px;
        padding-right: 7.5px;
        vertical-align: middle;
    }

    .col-85 {
        width: 85px;
        padding-left: 7.5px;
        padding-right: 7.5px;
    }

    .col-50 {
        width: 50px;
        text-align: center !important;
    }

    .col-40 {
        width: 40px;
        text-align: center !important;
    }

    .col-100 {
        width: 100px;
        padding-left: 7.5px;
        padding-right: 7.5px;
        text-align: center !important;
    }

    .col-115 {
        width: 115px;
        padding-left: 7.5px;
        padding-right: 7.5px;
        text-align: center !important;
    }

    .col-125 {
        width: 125px;
        padding-left: 7.5px;
        padding-right: 7.5px;
        text-align: center !important;
    }

    .col-155 {
        width: 155px;
        padding-left: 7.5px;
        padding-right: 7.5px;
        text-align: center !important;
    }


    .col-135 {
        width: 135px;
        padding-left: 7.5px;
        padding-right: 7.5px;
        text-align: center !important;
    }

    .pr-30 {
        padding-right: 30px;
    }

    .h-65 {
        height: 65px
    }

    .icheck-belizehole {
        margin-top: 10px;
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        padding-right: 10px;
    }

</style>

<ul class="nav nav-tabs pl-5" id="custom-content-above-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="tab-PhieuKhamBenh" data-toggle="pill" href="#content-PhieuKhamBenh" role="tab" aria-controls="content-PhieuKhamBenh" aria-selected="true">Phiếu khám</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tab-BieuDo" data-toggle="pill" href="#content-BieuDo" role="tab" aria-controls="content-BieuDo" aria-selected="false">Biểu đồ</a>
    </li>
</ul>
<div class="tab-content pl-3 pr-3" id="custom-content-below-tabContent">
    <div class="tab-pane fade show active" id="content-PhieuKhamBenh" role="tabpanel" aria-labelledby="content-PhieuKhamBenh">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    @await Component.InvokeAsync("ThongTinHanhChinh", new { mabn = Model.mabn, mavaovien = Model.mavaovien, maql = Model.maql })
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-3 pr-0">
                            @await Component.InvokeAsync("DanhMuc", new { mabn = Model.mabn })
                        </div>
                        <div class="col-9 pl-0">
                            <div class="row">
                                <div class="col-12">
                                    <form id="myForm" method="post" asp-area="" asp-action="KhamLamSang" asp-controller="CoXuongKhop">
                                        <div class="card mb-0 ml-0">
                                            <div class="card-header">
                                                <h3 class="card-title head-text">Khám lâm sàng</h3>
                                                <div class="card-tools">
                                                    <button type="submit" class="btn btn-info btn-sm"><i class="fas fa-edit"></i> Cập nhật thông tin</button>
                                                    <a class="btn btn-success btn-sm ml-3" href="/Reports/PhieuKhamBenh" target="_blank"><i class="fas fa-print"></i> In phiếu khám</a>
                                                </div>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body">
                                                <input type="hidden" id="mabn" name="mabn" value="" />
                                                <div class="row mb-3">
                                                    <div class="col-3">
                                                        <div class="form-group form-group-sm row">
                                                            <label for="NguoiDanhGia" class="col-form-label col-auto">Ngày khám:</label>
                                                            <div class="col-7">
                                                                <input type="text" id="ngayKham" name="ngayKham" class="form-control datetimepicker-input ngayKham" data-toggle="datetimepicker" data-target="#ngayKham" value="@Model.ThongTinHanhChinh.ngaykham" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-group row">
                                                            <label for="NguoiDanhGia" class="col-form-label col-auto">Giờ khám:</label>
                                                            <div class="col-6">
                                                                <input type="text" id="gioKham" name="gioKham" class="form-control datetimepicker-input gioKham" data-toggle="datetimepicker" data-target="#gioKham" value="@Model.ThongTinHanhChinh.ngaykham" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-group row">
                                                            <label for="NguoiDanhGia" class="col-form-label col-auto">Đối tượng: @Model.ThongTinHanhChinh.doituong</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="form-group row">
                                                            <label for="NguoiDanhGia" class="col-form-label col-auto">Phòng khám: @Model.ThongTinHanhChinh.tenkhoaphong</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="form-group row">
                                                            <label for="BacSi" class="col-form-label col-auto">Bác sĩ:</label>
                                                            <div class="col-8">
                                                                <select class="form-control" id="BacSi" name="BacSi"></select>
                                                                <input type="hidden" id="selectedBacSi" name="selectedBacSi" value="@Model.ThongTinHanhChinh.mabacsi" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group row">
                                                            <label for="DieuDuong" class="col-form-label col-auto">Điều dưỡng:</label>
                                                            <div class="col-8">
                                                                <select class="form-control" id="DieuDuong" name="DieuDuong"></select>
                                                                <input type="hidden" id="selectedDieuDuong" name="selectedDieuDuong" value="@Model.ThongTinHanhChinh.madieuduong" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-135">
                                                        <div class="form-group row">
                                                            <label for="Mach" class="col-form-label col-auto">Mạch:</label>
                                                            <div class="col-50">
                                                                <input type="text" id="Mach" name="Mach" class="form-control" value="@Model.ThongTinHanhChinh.mach" />
                                                            </div>
                                                            <label for="Mach" class="col-form-label col-auto">1/p</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-115">
                                                        <div class="form-group row">
                                                            <label for="NhietDo" class="col-form-label col-auto">T*:</label>
                                                            <div class="col-50">
                                                                <input type="text" id="NhietDo" name="NhietDo" class="form-control" value="@Model.ThongTinHanhChinh.nhietdo" />
                                                            </div>
                                                            <label for="NhietDo" class="col-form-label col-auto">*C</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-135">
                                                        <div class="form-group row">
                                                            <label for="HA" class="col-form-label col-auto">HA:</label>
                                                            <div class="col-40">
                                                                <input type="text" id="HA" name="HA" class="form-control" value="@Model.ThongTinHanhChinh.huyetaptren" />
                                                            </div>
                                                            <label for="HA" class="col-form-label col-auto p-0">/</label>
                                                            <div class="col-40">
                                                                <input type="text" id="HA2" name="HA2" class="form-control" value="@Model.ThongTinHanhChinh.huyetapduoi" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-155">
                                                        <div class="form-group row">
                                                            <label for="NhipTho" class="col-form-label col-auto">Nhịp thở:</label>
                                                            <div class="col-40">
                                                                <input type="text" id="NhipTho" name="NhipTho" class="form-control" value="@Model.ThongTinHanhChinh.nhiptho" />
                                                            </div>
                                                            <label for="NhipTho" class="col-form-label col-auto">1/p</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-125">
                                                        <div class="form-group row">
                                                            <label for="ChieuCao" class="col-form-label col-auto">Cao:</label>
                                                            <div class="col-50">
                                                                <input type="text" id="ChieuCao" name="ChieuCao" class="form-control" value="@Model.ThongTinHanhChinh.chieucao" />
                                                            </div>
                                                            <label for="ChieuCao" class="col-form-label col-auto">cm</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-155">
                                                        <div class="form-group row">
                                                            <label for="CanNang" class="col-form-label col-auto">Cân nặng:</label>
                                                            <div class="col-50">
                                                                <input type="text" id="CanNang" name="CanNang" class="form-control" value="@Model.ThongTinHanhChinh.cannang" />
                                                            </div>
                                                            <label for="CanNang" class="col-form-label col-auto">kg</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-100">
                                                        <div class="form-group row">
                                                            <label for="BMI" class="col-form-label col-auto">BMI:</label>
                                                            <div class="col-50">
                                                                <input type="text" id="BMI" name="BMI" class="form-control" value="@Model.ThongTinHanhChinh.bmi" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row-cols-12">
                                                    <div class="form-group">
                                                        <label for="lyDoKham">Lý do đến khám</label>
                                                        <textarea class="form-control" id="lyDoKham" name="lyDoKham" rows="3">@Model.ThongTinHanhChinh.lydo</textarea>
                                                    </div>
                                                </div>
                                                <div class="row-cols-12">
                                                    <div class="form-group">
                                                        <label for="benhSu">1. Bệnh sử</label>
                                                        <textarea class="form-control" id="benhSu" name="benhSu" rows="3">@Model.ThongTinHanhChinh.benhsu</textarea>
                                                    </div>
                                                </div>

                                                <!-- #start Tiền sử bệnh -->
                                                <div class="row">
                                                    <label class="col-form-label col-12">2. Tiền sử bệnh</label>
                                                    <label class="col-form-label col-12">&nbsp;&nbsp;&nbsp; 2.1 Bản thân</label>
                                                    <div class="col-6">
                                                        <div class="form-group row">
                                                            <label class="col-form-label col-auto">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&minus; Thời gian khởi phát:</label>
                                                            <div class="col-2">
                                                                <input type="text" id="ThangKP" name="ThangKP" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#ThangKP" value="@Model.ThongTinHanhChinh.thangkhoiphat" />
                                                            </div>
                                                            <label class="col-form-label col-auto">tháng</label>
                                                            <div class="col-2">
                                                                <input type="text" id="NamKP" name="NamKP" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#NamKP" value="@Model.ThongTinHanhChinh.namkhoiphat" />
                                                            </div>
                                                            <label class="col-form-label col-auto">năm</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group row">
                                                            <label class="col-form-label col-auto">&minus; Tiền sử:</label>
                                                            <div class="col">
                                                                <input type="text" id="TienSu" name="TienSu" class="form-control" value="@Model.ThongTinHanhChinh.tiensu_chitiet" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <fieldset class="border p-2">
                                                    <legend class="col-auto mb-0" style="font-size:14px;">Triệu chứng khởi phát</legend>
                                                    <label class="col-form-label col-auto">&minus; Tại khớp:</label>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6">
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-4">
                                                                    <input type="checkbox" id="DauLungKieuViemTCKPTK" />
                                                                    <label for="DauLungKieuViemTCKPTK">Đau lưng kiểm viêm: </label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="DauLungKieuViemTCKPTK" name="DauLungKieuViemTCKPTK" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-4">
                                                                    <input type="checkbox" id="DauVungMongTCKPTK" />
                                                                    <label for="DauVungMongTCKPTK">Đau vùng mông (khớp cùng chậu): </label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="DauVungMongTCKPTK" name="DauVungMongTCKPTK" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6">
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-4">
                                                                    <input type="checkbox" id="ViemKhopNgoaiViTCKPTK" />
                                                                    <label for="ViemKhopNgoaiViTCKPTK">Viêm khớp ngoại vi: </label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="ViemKhopNgoaiViTCKPTK" name="ViemKhopNgoaiViTCKPTK" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-4">
                                                                    <input type="checkbox" id="ViemNgonTCKPTK" />
                                                                    <label for="ViemNgonTCKPTK">Viêm ngón: </label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="ViemNgonTCKPTK" name="ViemNgonTCKPTK" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6">
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-4">
                                                                    <input type="checkbox" id="ViemDiemBamGamTCKPTK" />
                                                                    <label for="ViemDiemBamGamTCKPTK">Viêm điểm bám gân</label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="ViemDiemBamGamTCKPTK" name="ViemDiemBamGamTCKPTK" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-4">
                                                                    <input type="checkbox" id="KhacTCKPTK" />
                                                                    <label for="KhacTCKPTK">Khác: </label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="KhacTCKPTK" name="KhacTCKPTK" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <label class="col-form-label col-auto">&minus; Ngoài khớp:</label>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6">
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-4">
                                                                    <input type="checkbox" id="VayNenTCLSTK" />
                                                                    <label for="VayNenTCLSTK">Vảy nến: </label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="VayNenTCLSTK" name="VayNenTCLSTK" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-4">
                                                                    <input type="checkbox" id="TonThuongMongTCLSTK" />
                                                                    <label for="TonThuongMongTCLSTK">Tổn thương móng: </label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="TonThuongMongTCLSTK" name="TonThuongMongTCLSTK" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6">
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-4">
                                                                    <input type="checkbox" id="MatTCLSTK" />
                                                                    <label for="MatTCLSTK">Mắt</label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="MatTCLSTK" name="MatTCLSTK" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-4">
                                                                    <input type="checkbox" id="RuotTCLSTK" />
                                                                    <label for="RuotTCLSTK">Ruột: </label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="RuotTCLSTK" name="RuotTCLSTK" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6">
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-4">
                                                                    <input type="checkbox" id="HoHapTCLSTK" />
                                                                    <label for="HoHapTCLSTK">Hô hấp</label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="HoHapTCLSTK" name="HoHapTCLSTK" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-4">
                                                                    <input type="checkbox" id="TimMachTCLSTK" />
                                                                    <label for="TimMachTCLSTK">Tim mạch: </label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="TimMachTCLSTK" name="TimMachTCLSTK" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-2">
                                                                    <input type="checkbox" id="KhacNgoaiKhopTCLSTK" />
                                                                    <label for="KhacNgoaiKhopTCLSTK">Khác: </label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="KhacNgoaiKhopTCLSTK" name="KhacNgoaiKhopTCLSTK" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <!-- #end Tiền sử bệnh -->

                                                <div class="form-group row mt-3">
                                                    <label class="col-form-label col-auto ml-2">&minus; Chẩn đoán trước đó:</label>
                                                    <div class="col">
                                                        <input type="text" id="ChanDoan" name="ChanDoan" class="form-control" value="@Model.ThongTinHanhChinh.tiensu_chandoantruoc" />
                                                    </div>
                                                </div>

                                                <!-- #start Thuốc điều trị -->
                                                <fieldset class="border p-2">
                                                    <legend class="col-auto" style="font-size:14px;">Thuốc điều trị</legend>
                                                    <div class="form-group row mb-2">
                                                        <div class="checkbox icheck-belizehole col-2">
                                                            <input type="checkbox" id="NSAIDs" />
                                                            <label for="NSAIDs">NSAIDs: </label>
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" id="NSAIDs" name="NSAIDs" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-2">
                                                        <div class="checkbox icheck-belizehole col-2">
                                                            <input type="checkbox" id="Corticoid" />
                                                            <label for="Corticoid">Corticoid: </label>
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" id="Corticoid" name="Corticoid" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-2">
                                                        <div class="checkbox icheck-belizehole col-2">
                                                            <input type="checkbox" id="DMARDs" />
                                                            <label for="DMARDs">DMARDs: </label>
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" id="DMARDs" name="DMARDs" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-0">
                                                        <div class="checkbox icheck-belizehole col-auto">
                                                            <input type="checkbox" id="ThuocSinhHoc" />
                                                            <label for="ThuocSinhHoc">Thuốc sinh học: </label>
                                                        </div>
                                                    </div>
                                                    <div class="row justify-content-end">
                                                        <div class="col-5 ml-5">
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-5">
                                                                    <input type="checkbox" id="Infliximab" />
                                                                    <label for="Infliximab">Infliximab (Remicade): </label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="Infliximab" name="Infliximab" class="form-control" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-5">
                                                                    <input type="checkbox" id="Adalimumab" />
                                                                    <label for="Adalimumab">Adalimumab (Humira): </label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="Adalimumab" name="Adalimumab" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-5 ml-5">
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-5">
                                                                    <input type="checkbox" id="Golimumab" />
                                                                    <label for="Golimumab">Golimumab (Simponi): </label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="Golimumab" name="Golimumab" class="form-control" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-5">
                                                                    <input type="checkbox" id="Secukinumab" />
                                                                    <label for="Secukinumab">Secukinumab (Fraizeron): </label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="Secukinumab" name="Secukinumab" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group row">
                                                                <div class="checkbox icheck-belizehole col-2">
                                                                    <input type="checkbox" id="ThuocKhac" />
                                                                    <label for="ThuocKhac">Thuốc khác: </label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="ThuocKhac" name="ThuocKhac" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label for="ThuocKhac" class="col-12">Tiền sử dị ứng, kháng thuốc, TDKMM gặp phải với mỗi thuốc trên: </label>
                                                        <div class="col-12">
                                                            <input type="text" id="ThuocKhac" name="ThuocKhac" class="form-control" value="@Model.ThongTinHanhChinh.tiensu_diungthuoc" />
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <div class="row pt-2">
                                                    <label for="GiaDinh" class="col-150">2.2 Gia đình: </label>
                                                    <div class="col">
                                                        <input type="text" id="GiaDinh" name="GiaDinh" class="form-control" value="@Model.ThongTinHanhChinh.tiensu_giadinh" />
                                                    </div>
                                                </div>
                                                <!-- #end Thuốc điều trị -->

                                                <div class="row">
                                                    <label class="col-form-label col-12"><strong>Khám lâm sàng</strong></label>
                                                    <div class="col-6">
                                                        <label class="col-form-label col-12">1. Toàn thân</label>
                                                        <textarea class="form-control col" rows="3">@Model.ThongTinHanhChinh.KhamLS_toanthan</textarea>
                                                    </div>
                                                    <div class="col-6">
                                                        <label class="col-form-label col-12">2. Các bộ phận</label>
                                                        <textarea class="form-control col" rows="3">@Model.ThongTinHanhChinh.KhamLS_bophan</textarea>
                                                    </div>
                                                </div>

                                                <!-- #start Triệu chứng lâm sàng -->
                                                <fieldset class="border p-2">
                                                    <legend class="col-auto mb-0" style="font-size:14px;">Triệu chứng lâm sàng</legend>
                                                    <label class="col-form-label col-auto">1. Tại khớp</label>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6">
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-4">
                                                                    <input type="checkbox" id="DauLungKieuViemTCKPTK" />
                                                                    <label for="DauLungKieuViemTCKPTK">Đau lưng kiểm viêm: </label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="DauLungKieuViemTCKPTK" name="DauLungKieuViemTCKPTK" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-4">
                                                                    <input type="checkbox" id="DauVungMongTCKPTK" />
                                                                    <label for="DauVungMongTCKPTK">Đau vùng mông (khớp cùng chậu): </label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="DauVungMongTCKPTK" name="DauVungMongTCKPTK" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6">
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-4">
                                                                    <input type="checkbox" id="ViemKhopNgoaiViTCKPTK" />
                                                                    <label for="ViemKhopNgoaiViTCKPTK">Viêm khớp ngoại vi: </label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="ViemKhopNgoaiViTCKPTK" name="ViemKhopNgoaiViTCKPTK" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-4">
                                                                    <input type="checkbox" id="ViemNgonTCKPTK" />
                                                                    <label for="ViemNgonTCKPTK">Viêm ngón: </label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="ViemNgonTCKPTK" name="ViemNgonTCKPTK" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6">
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-4">
                                                                    <input type="checkbox" id="ViemDiemBamGamTCKPTK" />
                                                                    <label for="ViemDiemBamGamTCKPTK">Viêm điểm bám gân</label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="ViemDiemBamGamTCKPTK" name="ViemDiemBamGamTCKPTK" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-4">
                                                                    <input type="checkbox" id="KhacTCKPTK" />
                                                                    <label for="KhacTCKPTK">Khác: </label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="KhacTCKPTK" name="KhacTCKPTK" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <label class="col-form-label col-auto">2. Ngoài khớp</label>
                                                    <label class="col-form-label col-auto">2.1 Liên quan tới VKCS:</label>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6">
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-4">
                                                                    <input type="checkbox" id="VayNenTCLSTK" />
                                                                    <label for="VayNenTCLSTK">Vảy nến: </label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="VayNenTCLSTK" name="VayNenTCLSTK" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-4">
                                                                    <input type="checkbox" id="TonThuongMongTCLSTK" />
                                                                    <label for="TonThuongMongTCLSTK">Tổn thương móng: </label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="TonThuongMongTCLSTK" name="TonThuongMongTCLSTK" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6">
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-4">
                                                                    <input type="checkbox" id="MatTCLSTK" />
                                                                    <label for="MatTCLSTK">Mắt</label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="MatTCLSTK" name="MatTCLSTK" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-4">
                                                                    <input type="checkbox" id="RuotTCLSTK" />
                                                                    <label for="RuotTCLSTK">Ruột: </label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="RuotTCLSTK" name="RuotTCLSTK" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6">
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-4">
                                                                    <input type="checkbox" id="HoHapTCLSTK" />
                                                                    <label for="HoHapTCLSTK">Hô hấp</label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="HoHapTCLSTK" name="HoHapTCLSTK" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-4">
                                                                    <input type="checkbox" id="TimMachTCLSTK" />
                                                                    <label for="TimMachTCLSTK">Tim mạch: </label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="TimMachTCLSTK" name="TimMachTCLSTK" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group row mb-2">
                                                                <div class="checkbox icheck-belizehole col-2">
                                                                    <input type="checkbox" id="KhacNgoaiKhopTCLSTK" />
                                                                    <label for="KhacNgoaiKhopTCLSTK">Khác: </label>
                                                                </div>
                                                                <div class="col">
                                                                    <input type="text" id="KhacNgoaiKhopTCLSTK" name="KhacNgoaiKhopTCLSTK" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label for="KhacNgoaiKhopTCLSTK" class="col-12">2.2 Liên quan đến bệnh lý mắc kèm </label>
                                                        <div class="col">
                                                            <textarea class="form-control" rows="3">@Model.ThongTinHanhChinh.KhamLS_LienQuanBL</textarea>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <!-- #end Triệu chứng lâm sàng -->
                                                <!-- #start Kết quả ngoại viện -->
                                                <fieldset class="border p-2">
                                                    <legend class="col-auto mb-0" style="font-size:14px;">Kết quả ngoại viện</legend>
                                                    <label class="col-form-label col-auto">1. Kết quả xét nghiệm</label>
                                                    <div class="row">
                                                        <div class="col-auto">
                                                            <button type="button" class="btn btn-success mt-2"><i class="fas fa-plus"></i> Thêm mới</button>
                                                        </div>
                                                        <div class="col">
                                                            <table class="table table-bordered table-striped dataTable dtr-inline" role="grid" id="tableXetNghiem">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="w-auto text-nowrap">STT</th>
                                                                        <th class="w-auto text-nowrap">Tên XN</th>
                                                                        <th class="w-auto text-nowrap">KQ</th>
                                                                        <th class="w-auto text-nowrap">Đơn vị</th>
                                                                        <th class="w-auto text-nowrap">Thời gian</th>
                                                                        <th class="w-auto text-nowrap">Nơi trả KQ</th>
                                                                        <th class="w-auto text-nowrap">Thao tác</th>
                                                                    </tr>
                                                                </thead>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <label class="col-form-label col-auto">2. Kết quả CĐHA</label>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6">
                                                            <div class="form-group row mb-0 ml-3">
                                                                <div class="checkbox icheck-belizehole col-auto">
                                                                    <input type="checkbox" id="KetQuaXray" />
                                                                    <label for="KetQuaXray">Viêm khớp CC trên X-ray: </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group row mb-0 ml-3">
                                                                <div class="checkbox icheck-belizehole col-auto">
                                                                    <input type="checkbox" id="KetQuaMRI" />
                                                                    <label for="KetQuaMRI">Viêm khớp CC trên MRI: </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <!-- #end Kết quả ngoại viện -->
                                                <!-- #start Chẩn đoán -->
                                                <fieldset class="border p-2">
                                                    <legend class="col-auto mb-0" style="font-size:14px;">Kết quả ngoại viện</legend>
                                                    <div class="form-group row">
                                                        <label class="col-form-label col-2">Bệnh chính: </label>
                                                        <div class="col-10">
                                                            <div class="row">
                                                                <select class="form-control col mr-5 selectICD" id="BenhChinh" name="BenhChinh"></select>
                                                                <input type="hidden" id="selectICD_Chinh" name="selectICD_Chinh" value="@Model.ThongTinHanhChinh.BenhChinh_MaICD" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-0">
                                                        <label class="col-form-label col-2">Bệnh kèm theo: </label>
                                                        <div class="col-10">
                                                            <div class="row mb-1">
                                                                <select class="form-control col mr-5 selectICD" id="BenhPhu1" name="BenhPhu1"></select>
                                                                <input type="hidden" id="selectICD_Phu1" name="selectICD_Phu1" value="003" />
                                                            </div>
                                                            <div class="row mb-1">
                                                                <select class="form-control col mr-5 selectICD" id="BenhPhu2" name="BenhPhu2"></select>
                                                                <input type="hidden" id="selectICD_Phu2" name="selectICD_Phu2" value="004" />
                                                            </div>
                                                            <div class="row mb-1">
                                                                <select class="form-control col mr-5 selectICD" id="BenhPhu3" name="BenhPhu3"></select>
                                                                <input type="hidden" id="selectICD_Phu3" name="selectICD_Phu3" value="005" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <!-- #end Chẩn đoán -->
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                    </form>
                                    <!-- /.card -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="content-BieuDo" role="tabpanel" aria-labelledby="content-BieuDo">
        @await Component.InvokeAsync("BieuDo", new { mabn = Model.mabn })
    </div>
</div>

@section Scripts{
    <script src="~/lib/select2/js/i18n/vi.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ngayKham').datetimepicker({ format: 'DD/MM/YYYY', locale: 'vi' });
            $('#gioKham').datetimepicker({ format: 'HH:mm' });
            $('#ThangKP').datetimepicker({ format: 'MM', locale: 'vi' });
            $('#NamKP').datetimepicker({ format: 'YYYY' });
            $('#Mach').inputmask({ alias: 'numeric' });
            $('#NhietDo').inputmask({ alias: 'numeric' });
            $('#HA').inputmask({ alias: 'numeric' });
            $('#HA2').inputmask({ alias: 'numeric' });
            $('#NhipTho').inputmask({ alias: 'numeric' });
            $('#ChieuCao').inputmask({ alias: 'numeric' });
            $('#CanNang').inputmask({ alias: 'numeric' });
            $('#BMI').inputmask({ alias: 'numeric' });

            $('#BacSi').select2({
                ajax: {
                    url: '/DanhMuc/GetBacSi',
                    dataType: 'json',
                    data: function (params) {
                        return {
                            term: params.term,
                        }
                    },
                    processResults: function (data, params) {
                        return {
                            results: $.map(data.data, function (item) {
                                return {
                                    id: item.ma,
                                    text: item.ma + '|' + item.hoten,
                                }
                            })
                        };
                    },
                    cache: true
                },
                placeholder: 'Chọn bác sĩ',
                allowClear: true,
                width: "100%",
                language: "vi",
                templateResult: function (option) {
                    var item = option.text.split('|');
                    var ob = jQuery(
                        '<div class="row justify-content-between">' +
                        '<div class="col-3">' + item[0] + '</div>' +
                        '<div class="col-9 text-wrap">' + item[1] + '</div>' +
                        '</div>');
                    return ob;
                },
                templateSelection: function (option) {
                    var item = option.text.split('|');
                    return item[1];
                },
                escapeMarkup: function (m) {
                    return m;
                }
            });
            var bacSiSelect = $('#BacSi');
            var mabs = ((document.getElementById("selectedBacSi") || {}).value)
            $.ajax({
                type: 'GET',
                url: '/DanhMuc/GetBacSi?mabs=' + mabs
            }).then(function (data) {
                // create the option and append to Select2
                if (data.data.ma == null && data.data.hoten == null) { var option = new Option(null, null, true, true); }
                else { var option = new Option(data.data.ma + '|' + data.data.hoten, data.data.ma, true, true); }
                bacSiSelect.append(option).trigger('change');
                // manually trigger the `select2:select` event
                bacSiSelect.trigger({
                    type: 'select2:select',
                    params: {
                        data: data
                    }
                });
            });

            $('#DieuDuong').select2({
                ajax: {
                    url: '/DanhMuc/GetDieuDuong',
                    dataType: 'json',
                    data: function (params) {
                        return {
                            term: params.term,
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: $.map(data.data, function (item) {
                                return {
                                    text: item.ma + '|' + item.hoten,
                                    id: item.ma
                                }
                            })
                        };
                    },
                    cache: true
                },
                placeholder: 'Chọn điều dưỡng',
                allowClear: true,
                width: "100%",
                language: "vi",
                templateResult: function (option) {
                    var item = option.text.split('|');
                    var ob = jQuery(
                        '<div class="row justify-content-between">' +
                        '<div class="col-3">' + item[0] + '</div>' +
                        '<div class="col-9 text-wrap">' + item[1] + '</div>' +
                        '</div>');
                    return ob;
                },
                templateSelection: function (option) {
                    var item = option.text.split('|');
                    return item[1];
                },
                escapeMarkup: function (m) {
                    return m;
                }
            });
            var dieuDuongSelect = $('#DieuDuong');
            var madd = ((document.getElementById("selectedDieuDuong") || {}).value)
            $.ajax({
                type: 'GET',
                url: '/DanhMuc/GetDieuDuong?madd=' + madd
            }).then(function (data) {
                // create the option and append to Select2
                if (data.data.ma == null && data.data.hoten == null) { var option = new Option(null, null, true, true); }
                else { var option = new Option(data.data.ma + '|' + data.data.hoten, data.data.ma, true, true); }              
                dieuDuongSelect.append(option).trigger('change');
                // manually trigger the `select2:select` event
                dieuDuongSelect.trigger({
                    type: 'select2:select',
                    params: {
                        data: data
                    }
                });
            });

            $('.selectICD').select2({
                ajax: {
                    url: '/DanhMuc/Get_ICD_ChanDoan',
                    dataType: 'json',
                    data: function (params) {
                        return {
                            term: params.term,
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: $.map(data.data, function (item) {
                                return {
                                    text: item.cicD10 + '|' + item.vviet,
                                    id: item.cicD10
                                }
                            }),
                        };
                    },
                    cache: true
                },
                placeholder: 'Chọn điều dưỡng',
                allowClear: true,
                width: "100%",
                language: "vi",
                templateResult: function (option) {
                    var item = option.text.split('|');
                    var ob = jQuery(
                        '<div class="row justify-content-between">' +
                        '<div class="col-1">' + item[0] + '</div>' +
                        '<div class="col-11 text-wrap">' + item[1] + '</div>' +
                        '</div>');
                    return ob;
                },
                templateSelection: function (option) {
                    var item = option.text.split('|');
                    return item[1];
                },
                escapeMarkup: function (m) {
                    return m;
                }
            });
            var chanDoanSelect = $('#ChanDoanICD');
            var icd10 = ((document.getElementById("selectedICD") || {}).value)
            $.ajax({
                type: 'GET',
                url: '/DanhMuc/Get_ICD_ChanDoan?icd10=' + icd10
            }).then(function (data) {
                // create the option and append to Select2
                if (data.data.ma == null || data.data.hoten == null) { var option = new Option(null, null, true, true); }
                else { var option = new Option(data.data.cicD10 + '|' + data.data.vviet, data.data.cicD10, true, true); }
                chanDoanSelect.append(option).trigger('change');
                // manually trigger the `select2:select` event
                chanDoanSelect.trigger({
                    type: 'select2:select',
                    params: {
                        data: data
                    }
                });
            });

            $(document).on('select2:open', function (e) {
                window.setTimeout(function () {
                    document.querySelector('input.select2-search__field').focus();
                }, 0);
            });
        });
        
    </script>
}


