@using DataBVTA.Models.ViewModels
@model ThongTinBenhNhanVM
<link rel="stylesheet" href="~/css/tree.css">
<style>
    .sidebar {
        height: 160px;
    }

    .scrollspy-phongkham {
        position: relative;
        height: 160px;
        overflow: auto;
    }
</style>
<!-- /.row -->
<div class="row">
    <div class="col-12">
        <div class="card mb-1">
            <div class="card-header">
                <div class="row">
                    <div class="col-3">
                        <h3 class="card-title head-text">Lịch sử khám bệnh</h3>
                    </div>
                    <div class="col-9">
                        <h3 class="card-title head-text">Thông tin hành chính</h3>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body pl-0">
                <div class="row">
                    <div class="col-3 pr-0">
                        <div id="DanhMucPhongKham" class="treeview scrollspy-phongkham" data-spy="scroll" data-target="#spy">
                            <ul class="tree pl-0">
                                    <li>
                                        <details open>
                                            <summary>Phòng khám</summary>
                                            <ul>
                                                @{
                                                    if (Model.LichSuKhamBenh.Count > 0)
                                                    {
                                                        foreach (var item in Model.LichSuKhamBenh)
                                                        {
                                                            <li>
                                                                <details>
                                                                    <summary>@item.ngaykham.ToString("dd/MM/yyyy HH:mm") @item.tenkp</summary>
                                                                    @*<ul>
                                                                        <li>Bác sĩ:</li>
                                                                        <li>Chẩn đoán:</li>
                                                                        <li>Giới tính:</li>
                                                                        <li>Ngày khám:</li>
                                                                    </ul>*@
                                                                </details>
                                                            </li>
                                                        }
                                                    }
                                                }
                                            </ul>
                                        </details>
                                    </li>
                                </ul>
                        </div>
                    </div>
                    <div class="col-9 pl-3">
                        <div class="row mb-3">
                            <label class="col-form-label col-3">Mã KH: <strong>@Model.ThongTinHanhChinh.mabn</strong></label>
                            <label class="col-form-label col-3">Họ và tên: @Model.ThongTinHanhChinh.hoten</label>
                            <label class="col-form-label col-3">Ngày sinh: @Model.ThongTinHanhChinh.ngaysinh</label>
                            <label class="col-form-label col-3">Giới tính: @Model.ThongTinHanhChinh.gioitinh</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<input type="hidden" id="MaBN" value="@Model.mabn" />
<!-- /.row -->
<script type="text/javascript">
    $(function () {
        $('#ngayKham').datetimepicker({ format: 'DD/MM/YYYY', locale: 'vi' });
        $('#gioKham').datetimepicker({ format: 'HH:mm' });

        var mabn = (document.getElementById("MaBN") || {}).value
        $('[data-spy="scroll"]').scrollspy({ target: '#DanhMucPhongKham' });
    })
</script>

